<p id="notice"><%= notice %></p>

<h3>
  <%= @tag.name %>
</h3>

<% @tag.posts.each do |post| %>
    <h2><%= post.title %></h2>

    <p><%= post.created_at %></p>

    Tags: <% post.tags.each do |tag| %>
        <%= link_to tag.name, tag %>
    <% end %>

    <p>
    <ul class="gallery clearfix">
    <%= link_to image_tag(post.image.url(:medium), :title => post.title), post.image.url, {:rel => "prettyPhoto", :title => post.title} %>
    </ul>
    </p>

    <p><%= post.content %></p>

    <%= link_to 'More...', post %>
        <% if admin_signed_in? %>
            |<%= link_to 'Edit', edit_post_path(post) %>
        <% end %><br /><br />
<% end %>

     <% if admin_signed_in? %>
        <%= link_to 'Edit', edit_tag_path(@tag) %> |
     <% end %>
<%= link_to 'All tags', tags_path %> |
<%= link_to 'Home', posts_path %>
